<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>
            <img src="../images/seal.png" alt="">
        </th>
        <th>
            <p>Republic of The Philippine</p>
            <p>Province of Iloilo</p>
            <p>GENERAL SERVICE OFFICE</p>
            <br>
            <br>
            <p>VENUEW BOOKING FROM</p>
        </th>
    </table>
</body>
</html>